.menu-top{
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #f1f1f1;
    z-index: 99;
}
.menu-left{
    width: 35%;
}
.menu-right{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.menu-right button{
    display: block;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    height: fit-content;
    border: 2px solid green;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.menu-right a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(0, 12%, 92%);
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    padding: 15px;
    
}
.form-container input[type="text"], input[type="password"]{
    border-radius: 25px;
    padding: 15px;
}
.form-container button{
    border-radius: 15px;
    width: 50%;
    margin: auto;
    padding: 15px;
    margin-top: 15px;
    letter-spacing: 3px;
    background-color: green;
    color: white;
}
.form-container label{
    padding: 5px;
}
.text-center{
    margin: auto;
    width: fit-content;
    padding: 15px;
}
